.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.spinner {
  position: relative;
  display: inline-block;
}

.spinner-small {
  width: 30px;
  height: 30px;
}

.spinner-medium {
  width: 50px;
  height: 50px;
}

.spinner-large {
  width: 70px;
  height: 70px;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-ring:nth-child(1) {
  animation-duration: 1s;
}

.spinner-ring:nth-child(2) {
  animation-duration: 1.2s;
  animation-direction: reverse;
  border-top-color: #28a745;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.spinner-ring:nth-child(3) {
  animation-duration: 1.4s;
  border-top-color: #ffc107;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
}

.spinner-ring:nth-child(4) {
  animation-duration: 1.6s;
  animation-direction: reverse;
  border-top-color: #dc3545;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  animation: pulse 1.5s ease-in-out infinite;
}

